@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Poppins&family=Roboto&display=swap');
@import "tailwindcss";

:root {
    --bg-primary: #111;
    --bg-secondary: #1D1D1D;
    --text-color: #DDD;
}

body {
    background-color: var(--bg-primary);
    color: #DDD;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.menu-closed {
    display: block;
    width: 1.5rem;
    height: 3px;
    background-color: var(--text-color);
    transition: transform 0.15s ease 0s;
}

.menu-open1 {
    display: block;
    width: 1.75rem;
    height: 3px;
    background-color: var(--text-color);
    transform: rotate(45deg) translate(6px, 5px);
}

.menu-open2 {
    opacity: 0;
}

.menu-open3 {
    display: block;
    width: 1.75rem;
    height: 3px;
    background-color: var(--text-color);
    transform: rotate(-45deg) translate(6px, -5px);
}