@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Poppins&family=Roboto&display=swap');
@import "tailwindcss";

/* Global Variables*/
:root {
    --bg-primary: #111;
    --bg-secondary: #1D1D1D;
    --text-color: #DDD;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Hamburger Menu Styles */
.menu-closed {
    display: block;
    width: 1.5rem;
    height: 3px;
    background-color: var(--text-color);
    transition: transform 0.15s ease 0s;
}

.menu-open1 {
    display: block;
    width: 1.75rem;
    height: 3px;
    background-color: var(--text-color);
    transform: rotate(45deg) translate(6px, 5px);
}

.menu-open2 {
    opacity: 0;
}

.menu-open3 {
    display: block;
    width: 1.75rem;
    height: 3px;
    background-color: var(--text-color);
    transform: rotate(-45deg) translate(6px, -5px);
}

.slanted {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}